.content-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 40px;
}

.content-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.back-btn{
    padding: 10px 25px;
    background-color:#e50914 ;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.637);
}

.back-btn:hover{
    background-color: #c80e17;
}


.movie-content-container{
    width: 80%;
    margin-bottom: 40px;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 450px;
    margin-right: 50px;
    border-radius: 4px;
}


.content-data{
    padding: 20px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#title{
    font-size: 2.6em;
    margin-bottom: 20px;
}
#releaseDate{
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 20px;
}
#popularity{
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.summary-title{
    font-weight: 500;
    font-size: 1.25em;
}
#summary{
    line-height: 1.8;
    max-height: 180px;
    overflow-y: auto;
}


@media (max-width: 1024px) {
    .movie-content-container {
        width: 100%;
        margin-bottom: 10%;
        padding: 0px 40px;
    }
}

@media (max-width: 480px) {
    body{
        font-size: 10px;
    }

    .content-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0px ;
        text-align: center;
        justify-content: space-evenly;
    }

    .content-header{
        justify-content: center;
    }

    .poster-container {
        width: 250px;
        height: 300px;
        margin-right: 0px;
    }

    .movie-content-container {
       flex-direction: column;
       padding: 0px;
        margin-bottom: 0px;
    }

    #title{
        font-size: 1.25rem;
    }

    
}